body {
  background-color: teal;
}

#pie-card {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.card img {
  height: 100px;
  width: 100px;
}